.footer{
  width: 95%;
  background-color: #316099; 
  border-top-right-radius: 100px;

  h2, h3, p, a, i {
    color: map-get($color, cuaternary);
  }

  h3{
    font-size: 1.2rem;
  }

  /* &::before {
    position: absolute;
    width: 95%;
    height: 554px;
    background: #316099;
    border-top-right-radius: 100px; 
    content:"";
  } */

  &__container{
    padding-left: 50px;
  }

  li{
    margin-bottom: 15px;
  }

  a{
    &:hover{
      text-decoration: underline;
    }
  }
}

